<?xml version="1.0"?>

<model>
  <name>BlueRov2</name>
  <version>1.0</version>
  <sdf version="1.6">BlueRov2_heavy_config.sdf</sdf>

  <author>
    <name>Youssef Attia</name>
    <email>youssef.attia@edu.unige.it</email>
  </author>

  <maintainer email="youssef.attia@edu.unige.it">Youssef Attia</maintainer>

  <description>
    A copy of the Blue Robotics BlueRov2 Heavy Config model
  </description>
</model>
